@import "tailwindcss";

@theme {
  --font-sans: var(--font-vazirmatn), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --color-primary: #2E533F;
  --color-primary-hover: #234131;
  --color-primary-light: #3D6C53;
  --color-secondary: #8D99AE;
  --color-secondary-hover: #738096;
  --color-background: #FDFBFC;
  --color-accent: #BDCFE0;
  --color-accent-light: #EBF1F7;
  --color-text-main: #212529;
  --color-text-muted: #6C757D;
}

:root {
  --background: #FDFBFC;
  --foreground: #212529;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
